node_modules/
dist/
dist_electron/
electron-bin/
.vite/
.DS_Store
*.log
.env
.env.local
coverage/
.temp/
nostachat-data/
*.tsbuildinfo
out/
*.exe
*.tar
*.zip
*.rar
packages/desktop/dist/
packages/desktop/dist_electron/
packages/desktop/out/
packages/server/dist/
packages/shared/dist/
*.tsbuildinfo
